In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
plm_layers = list(range(1,13))
plm_vp = [330, 1480, 1928.7, 2089.9, 2111.5, 2451.9, 2606.4, 2990.7, 2910.7, 3429.3, 3800, 4300]
plm_depth = [0.0, 150.0, 482.1, 970.1, 1473.6, 1972.0, 2465.2, 2968.8, 3462.0, 3960.4, 4500.0, 5000.0]

In [3]:
df_plm = pd.DataFrame(list(zip(plm_layers, plm_depth, plm_vp)), columns=['Intf', 'Depth', 'Vp'])

In [4]:
df_plm

    Intf   Depth      Vp
0      1     0.0   330.0
1      2   150.0  1480.0
2      3   482.1  1928.7
3      4   970.1  2089.9
4      5  1473.6  2111.5
5      6  1972.0  2451.9
6      7  2465.2  2606.4
7      8  2968.8  2990.7
8      9  3462.0  2910.7
9     10  3960.4  3429.3
10    11  4500.0  3800.0
11    12  5000.0  4300.0

In [5]:
df_plm['Thickness'] = df_plm.diff()[['Depth']]
df_plm['dOWT'] = df_plm['Thickness'] / df_plm['Vp']
df_plm['OWT'] = df_plm.cumsum()['dOWT']
df_plm['TWT'] = df_plm['OWT']*2

In [6]:
df_plm

    Intf   Depth      Vp  Thickness      dOWT       OWT       TWT
0      1     0.0   330.0        NaN       NaN       NaN       NaN
1      2   150.0  1480.0      150.0  0.101351  0.101351  0.202703
2      3   482.1  1928.7      332.1  0.172189  0.273540  0.547080
3      4   970.1  2089.9      488.0  0.233504  0.507044  1.014088
4      5  1473.6  2111.5      503.5  0.238456  0.745500  1.491000
5      6  1972.0  2451.9      498.4  0.203271  0.948771  1.897542
6      7  2465.2  2606.4      493.2  0.189227  1.137997  2.275995
7      8  2968.8  2990.7      503.6  0.168389  1.306386  2.612772
8      9  3462.0  2910.7      493.2  0.169444  1.475830  2.951660
9     10  3960.4  3429.3      498.4  0.145336  1.621166  3.242331
10    11  4500.0  3800.0      539.6  0.142000  1.763166  3.526331
11    12  5000.0  4300.0      500.0  0.116279  1.879445  3.758889

In [7]:
def compute_mute_offset(model, percmute):
    Smax = 1 + percmute/100
    muteangle = np.arccos(1/Smax)
    muteangledeg = np.round(np.degrees(muteangle))
    print('Mute angle is: ' + str(muteangledeg))
    model['Mute angle - rad'] = muteangle
    model['Mute angle - deg'] = muteangledeg
    model['Constant'] = np.sin(muteangle) / model['Vp']
    intf_list = list(model['Intf'])[1:]
    vp_list = list(model['Vp'])[1:]
    depth_list = list(model['Thickness'])[1:]
    constant = list(model['Constant'])[1:]
    twt_list = list(model['TWT'])[1:]
    mute_onset = [np.nan]
    for i in range(len(intf_list)):
        const = constant[i]
        print('i is: ' + str(i))
        print('Target is: ' + str(intf_list[i]))
        print('TWT is: ' + str(twt_list[i]))
        x = []
        for j, intf in enumerate(intf_list[:i]):        
            print(i, j, intf, vp_list[j])
            alpha = np.arcsin(const * vp_list[j])
            x.append(depth_list[j] * np.tan(alpha))
            print('alpha = ' + str(np.degrees(alpha)))
        x.append(depth_list[i] * np.tan(muteangle))
        print('x = ' + str(x))
        x_sum = sum(x) * 2
        print('x_sum is: ' + str(x_sum) + ' trace no: ' + str(x_sum/12.5))
        print('----')
        mute_onset.append(x_sum)
    coltitle = str(percmute) + '% /' + str(muteangledeg)  + ' deg mute offset'
    coltitlechan = str(percmute) + '% /' + str(muteangledeg)  + ' deg mute chan no'
    model[coltitle] = mute_onset
    model[coltitlechan] = model[coltitle] / 12.5
    
    return model

In [8]:
test = compute_mute_offset(df_plm, 41.42)

Mute angle is: 45.0
i is: 0
Target is: 2
TWT is: 0.20270270270270271
x = [149.99712297240907]
x_sum is: 299.99424594481815 trace no: 23.999539675585453
----
i is: 1
Target is: 3
TWT is: 0.5470797442332673
1 0 2 1480.0
alpha = 32.86064472522725
x = [96.89326431573133, 332.0936302609137]
x_sum is: 857.97378915329 trace no: 68.6379031322632
----
i is: 2
Target is: 4
TWT is: 1.0140877350462247
2 0 2 1480.0
alpha = 30.049333497865998
2 1 3 1928.7
alpha = 40.73484441483929
x = [86.77483246421063, 286.00263623817784, 487.99064007023753]
x_sum is: 1721.536217545252 trace no: 137.72289740362015
----
i is: 3
Target is: 5
TWT is: 1.490999882808479
3 0 2 1480.0
alpha = 29.71084115807795
3 1 3 1928.7
alpha = 40.231976620937814
3 2 4 2089.9
alpha = 44.416300905689546
x = [85.59610955738515, 280.96411394403117, 478.1569633977666, 503.49034277738633]
x_sum is: 2696.4150593531385 trace no: 215.7132047482511
----
i is: 4
Target is: 6
TWT is: 1.8975417483005463
4 0 2 1480.0
alpha = 25.265608969039878
4 1 3 1928.7
alpha = 33.79444773999739
4 2 4 2089.9
alpha = 37.063755582499034
4 3 5 2111.5
alpha = 37.51235728712932
x = [70.7945530645469, 222.27497073908555, 368.58646095651454, 386.52169782147564, 498.39044059632465]
x_sum is: 3093.136246355895 trace no: 247.45089970847158
----
i is: 5
Target is: 7
TWT is: 2.2759947869745796
5 0 2 1480.0
alpha = 23.67290595220685
5 1 3 1928.7
alpha = 31.55012093735366
5 2 4 2089.9
alpha = 34.53967562406758
5 3 5 2111.5
alpha = 34.94827731800085
5 4 6 2451.9
alpha = 41.69652865245739
x = [65.76081379339372, 203.91096387907263, 335.89089111162343, 351.8775487074099, 444.0040381188292, 493.19054033328086]
x_sum is: 3789.2695918872196 trace no: 303.14156735097754
----
i is: 6
Target is: 8
TWT is: 2.6127721300715137
6 0 2 1480.0
alpha = 20.482468170132087
6 1 3 1928.7
alpha = 27.129823361936918
6 2 4 2089.9
alpha = 29.611818324834587
6 3 5 2111.5
alpha = 29.948948415583615
6 4 6 2451.9
alpha = 35.43014329481013
6 5 7 2606.4
alpha = 38.04199041978135
x = [56.03039358080371, 170.16234396709183, 277.35574253421436, 290.09799769439303, 354.58922571032963, 385.91248952011523, 503.59034085936844]
x_sum is: 4075.4770677326323 trace no: 326.03816541861056
----
i is: 7
Target is: 9
TWT is: 2.9516596828938586
7 0 2 1480.0
alpha = 21.07184141728141
7 1 3 1928.7
alpha = 27.9396642990705
7 2 4 2089.9
alpha = 30.510883775435314
7 3 5 2111.5
alpha = 30.860484395129628
7 4 6 2451.9
alpha = 36.55849373286405
7 5 7 2606.4
alpha = 39.28483413735577
7 6 8 2990.7
alpha = 46.59665028567484
x = [57.79550362027336, 176.13236192180108, 287.57884562593034, 300.8670940042991, 369.58461690618395, 403.4615654947917, 532.4797066015196, 493.19054033328086]
x_sum is: 5242.18046901616 trace no: 419.3744375212928
----
i is: 8
Target is: 10
TWT is: 3.2423312485194966
8 0 2 1480.0
alpha = 17.768190369554798
8 1 3 1928.7
alpha = 23.433583527741316
8 2 4 2089.9
alpha = 25.52622521784257
8 3 5 2111.5
alpha = 25.809346709574495
8 4 6 2451.9
alpha = 30.368951392695834
8 5 7 2606.4
alpha = 32.5083977750162
8 6 8 2990.7
alpha = 38.072889218968335
8 7 9 2910.7
alpha = 36.8819275160788
x = [48.06788581550344, 143.94367210095754, 233.03830238928344, 243.50274928372403, 292.0466093198607, 314.30468846169276, 394.48818912119924, 370.0618265608585, 498.39044059632465]
x_sum is: 5075.688727298808 trace no: 406.05509818390465
----
i is: 9
Target is: 11
TWT is: 3.5263312485194964
9 0 2 1480.0
alpha = 15.985664747284076
9 1 3 1928.7
alpha = 21.032071355776058
9 2 4 2089.9
alpha = 22.885225193881105
9 3 5 2111.5
alpha = 23.135421624700864
9 4 6 2451.9
alpha = 27.14519527589406
9 5 7 2606.4
alpha = 29.012221368766205
9 6 8 2990.7
alpha = 33.81452831473493
9 7 9 2910.7
alpha = 32.793986955918996
9 8 10 3429.3
alpha = 39.65181480168926
x = [42.9711953793086, 127.69457678459439, 205.9909923878969, 215.12895380269316, 255.5404561538821, 273.5227654767034, 337.3157707808655, 317.772458213568, 413.0720939409966, 539.5896503727462]
x_sum is: 5457.19782658651 trace no: 436.5758261269208
----
i is: 10
Target is: 12
TWT is: 3.75888938805438
10 0 2 1480.0
alpha = 14.085759776079227
10 1 3 1928.7
alpha = 18.491200943377716
10 2 4 2089.9
alpha = 20.100448408736273
10 3 5 2111.5
alpha = 20.317310052311853
10 4 6 2451.9
alpha = 23.778065758543654
10 5 7 2606.4
alpha = 25.378825613712976
10 6 8 2990.7
alpha = 29.45871384629232
10 7 9 2910.7
alpha = 28.596676129896426
10 8 10 3429.3
alpha = 34.32736049521502
10 9 11 3800.0
alpha = 38.6733120381042
x = [37.63776527784503, 111.06239727430335, 178.58697088394618, 186.42325562144293, 219.59271467524007, 233.96525322351025, 284.4443238221709, 268.8642535479216, 340.33429370971317, 431.8886077990245, 499.99040990803024]
x_sum is: 5585.5804914862965 trace no: 446.8464393189037
----

In [9]:
test = compute_mute_offset(df_plm, 50)

Mute angle is: 48.0
i is: 0
Target is: 2
TWT is: 0.20270270270270271
x = [167.70509831248427]
x_sum is: 335.41019662496853 trace no: 26.83281572999748
----
i is: 1
Target is: 3
TWT is: 0.5470797442332673
1 0 2 1480.0
alpha = 34.88656745472597
x = [104.58917760817701, 371.29908766384017]
x_sum is: 951.7765305440344 trace no: 76.14212244352275
----
i is: 2
Target is: 4
TWT is: 1.0140877350462247
2 0 2 1480.0
alpha = 31.8594362062531
2 1 3 1928.7
alpha = 43.461305540844606
x = [93.21950180234722, 314.72514944212804, 545.6005865099488]
x_sum is: 1907.0904755088482 trace no: 152.56723804070785
----
i is: 3
Target is: 5
TWT is: 1.490999882808479
3 0 2 1480.0
alpha = 31.495899447865234
3 1 3 1928.7
alpha = 42.90837169138622
3 2 4 2089.9
alpha = 47.53850797968584
x = [91.9053523066163, 308.696802435226, 533.277666176322, 562.9301133355721]
x_sum is: 2993.619868507473 trace no: 239.48958948059783
----
i is: 4
Target is: 6
TWT is: 1.8975417483005463
4 0 2 1480.0
alpha = 26.73771459236227
4 1 3 1928.7
alpha = 35.89543413980805
4 2 4 2089.9
alpha = 39.44306812439895
4 3 5 2111.5
alpha = 39.93195478992142
x = [75.56589409193965, 240.35997769010896, 401.4624172846847, 421.46869635303835, 557.2281399929478]
x_sum is: 3392.1702508254393 trace no: 271.37362006603513
----
i is: 5
Target is: 7
TWT is: 2.2759947869745796
5 0 2 1480.0
alpha = 25.03916954595413
5 1 3 1928.7
alpha = 33.47363020545898
5 2 4 2089.9
alpha = 36.701900214844024
5 3 5 2111.5
alpha = 37.144604543208544
5 4 6 2451.9
alpha = 44.52122227527575
x = [70.07103199771456, 219.5924556610899, 363.7691668071751, 381.41059603792314, 490.13932825684503, 551.4143632514481]
x_sum is: 4152.793884024391 trace no: 332.2235107219513
----
i is: 6
Target is: 8
TWT is: 2.6127721300715137
6 0 2 1480.0
alpha = 21.644859142394818
6 1 3 1928.7
alpha = 28.729788934035117
6 2 4 2089.9
alpha = 31.389585691993492
6 3 5 2111.5
alpha = 31.751604037595815
6 4 6 2451.9
alpha = 37.667184910923
6 5 7 2606.4
alpha = 40.509866372238854
x = [59.52509435884955, 182.04392080993304, 297.75473573796023, 311.5947480888322, 384.7515325939295, 421.3794971106667, 563.0419167344476]
x_sum is: 4440.182890869238 trace no: 355.21463126953904
----
i is: 7
Target is: 9
TWT is: 2.9516596828938586
7 0 2 1480.0
alpha = 22.27114933711679
7 1 3 1928.7
alpha = 29.596638421752854
7 2 4 2089.9
alpha = 32.355445082973176
7 3 5 2111.5
alpha = 32.73138990437575
7 4 6 2451.9
alpha = 38.89307714002843
7 5 7 2606.4
alpha = 41.86921400555923
7 6 8 2990.7
alpha = 49.98195396596325
x = [61.431265987725816, 188.63328591922553, 309.16216243490567, 323.63092810204705, 402.05868386676246, 442.04493332981707, 599.7833605485743, 551.4143632514481]
x_sum is: 5756.317966881012 trace no: 460.5054373504809
----
i is: 8
Target is: 10
TWT is: 3.2423312485194966
8 0 2 1480.0
alpha = 18.764371907674104
8 1 3 1928.7
alpha = 24.784192448405218
8 2 4 2089.9
alpha = 27.015937438172326
8 3 5 2111.5
alpha = 27.318281888027567
8 4 6 2451.9
alpha = 32.20287770735186
8 5 7 2606.4
alpha = 34.506466416276275
8 6 8 2990.7
alpha = 40.54360627271226
8 7 9 2910.7
alpha = 39.245066001896845
x = [50.9601035335654, 153.3405709417266, 248.81942698896114, 260.07921703383704, 313.8941909495527, 339.04893036840906, 430.7783232755758, 402.8904834568839, 557.2281399929478]
x_sum is: 5514.07877308292 trace no: 441.12630184663357
----
i is: 9
Target is: 11
TWT is: 3.5263312485194964
9 0 2 1480.0
alpha = 16.87571053682259
9 1 3 1928.7
alpha = 22.22887817906682
9 2 4 2089.9
alpha = 24.20019770750373
9 3 5 2111.5
alpha = 24.46661398663198
9 4 6 2451.9
alpha = 28.74623435450477
9 5 7 2606.4
alpha = 30.746177691330946
9 6 8 2990.7
alpha = 35.91714896621332
9 7 9 2910.7
alpha = 34.81461973680436
9 8 10 3429.3
alpha = 42.271502333954366
x = [45.50403390218648, 135.72280076107177, 219.31792000451313, 229.1039437496543, 273.38898941635983, 293.37861958074683, 364.77536691243114, 342.96959893059756, 453.056169003345, 603.2911403294434]
x_sum is: 5921.017165180699 trace no: 473.6813732144559
----
i is: 10
Target is: 12
TWT is: 3.75888938805438
10 0 2 1480.0
alpha = 14.864923685713991
10 1 3 1928.7
alpha = 19.53108115661869
10 2 4 2089.9
alpha = 21.23907667136577
10 3 5 2111.5
alpha = 21.46941196682759
10 4 6 2451.9
alpha = 25.151228050282295
10 5 7 2606.4
alpha = 26.858569571184358
10 6 8 2990.7
alpha = 31.225239638808347
10 7 9 2910.7
alpha = 30.30060041388747
10 8 10 3429.3
alpha = 36.4720138068763
10 9 11 3800.0
alpha = 41.1997891377556
x = [39.81359905595856, 117.80556198601093, 189.66572327286164, 198.02348187197492, 234.01124874742243, 249.7663828359106, 305.2942922785524, 288.2097434847542, 368.41999583935694, 472.38058307234894, 559.0169943749476]
x_sum is: 6044.815213640198 trace no: 483.58521709121584
----

In [10]:
test = compute_mute_offset(df_plm, 100)

Mute angle is: 60.0
i is: 0
Target is: 2
TWT is: 0.20270270270270271
x = [259.80762113533166]
x_sum is: 519.6152422706633 trace no: 41.56921938165306
----
i is: 1
Target is: 3
TWT is: 0.5470797442332673
1 0 2 1480.0
alpha = 41.64781237897708
x = [133.4002392234129, 575.2140731936244]
x_sum is: 1417.2286248340745 trace no: 113.37828998672596
----
i is: 2
Target is: 4
TWT is: 1.0140877350462247
2 0 2 1480.0
alpha = 37.82787156668919
2 1 3 1928.7
alpha = 53.05628976100373
x = [116.46884141860022, 441.61360557037176, 845.2407940936123]
x_sum is: 2806.6464821651684 trace no: 224.53171857321348
----
i is: 3
Target is: 5
TWT is: 1.490999882808479
3 0 2 1480.0
alpha = 37.37416481905577
3 1 3 1928.7
alpha = 52.28379390173179
3 2 4 2089.9
alpha = 58.9998807165904
x = [114.57652350097945, 429.4360967296876, 812.1645574021923, 872.0875816109296]
x_sum is: 4456.529518487578 trace no: 356.52236147900624
----
i is: 4
Target is: 6
TWT is: 1.8975417483005463
4 0 2 1480.0
alpha = 31.51653765391006
4 1 3 1928.7
alpha = 42.939686378082875
4 2 4 2089.9
alpha = 47.57532601226607
4 3 5 2111.5
alpha = 48.22735454263895
x = [91.97968276039826, 309.0353088274495, 533.9662133744417, 563.6754764855901, 863.2541224923287]
x_sum is: 4723.821607880417 trace no: 377.9057286304334
----
i is: 5
Target is: 7
TWT is: 2.2759947869745796
5 0 2 1480.0
alpha = 29.456183994404277
5 1 3 1928.7
alpha = 39.85499503169852
5 2 4 2089.9
alpha = 43.98010643416717
5 3 5 2111.5
alpha = 44.554353653831846
5 4 6 2451.9
alpha = 54.55670886551828
x = [84.71455360528911, 277.235761784578, 470.92878437310605, 495.7278529845773, 700.1959080096009, 854.2474582929701]
x_sum is: 5766.100638100243 trace no: 461.2880510480194
----
i is: 6
Target is: 8
TWT is: 2.6127721300715137
6 0 2 1480.0
alpha = 25.37670083631962
6 1 3 1928.7
alpha = 33.95206249729302
6 2 4 2089.9
alpha = 37.24166727247221
6 3 5 2111.5
alpha = 37.693189673440834
6 4 6 2451.9
alpha = 45.23520608659184
6 5 7 2606.4
alpha = 49.002881431528365
x = [71.15050111225027, 223.60023477732423, 370.9718255133369, 389.053434192913, 502.5088747532258, 567.419328363413, 872.2607866916874]
x_sum is: 5993.929970808302 trace no: 479.51439766466416
----
i is: 7
Target is: 9
TWT is: 2.9516596828938586
7 0 2 1480.0
alpha = 26.126014089752985
7 1 3 1928.7
alpha = 35.01908866964353
7 2 4 2089.9
alpha = 38.448534735586776
7 3 5 2111.5
alpha = 38.920252104378626
7 4 6 2451.9
alpha = 46.845991283523404
7 5 7 2606.4
alpha = 50.849162955344504
7 6 8 2990.7
alpha = 62.85163343712984
x = [73.56871020924899, 232.70385136895715, 387.4575519038104, 406.5672113203689, 531.596561085409, 605.783471768558, 982.0755162610087, 854.2474582929701]
x_sum is: 8148.000664420662 trace no: 651.840053153653
----
i is: 8
Target is: 10
TWT is: 3.2423312485194966
8 0 2 1480.0
alpha = 21.947377485973618
8 1 3 1928.7
alpha = 29.148068502959692
8 2 4 2089.9
alpha = 31.855394591804927
8 3 5 2111.5
alpha = 32.22409208801895
8 4 6 2451.9
alpha = 38.257421296304464
8 5 7 2606.4
alpha = 41.16370073682182
8 6 8 2990.7
alpha = 49.048324062196485
8 7 9 2910.7
alpha = 47.31225878789124
x = [60.44373941426048, 185.20958998307145, 303.22639651634114, 317.366623657175, 393.0115652373558, 431.2123380219038, 580.3133147382185, 534.7052218334634, 863.2541224923287]
x_sum is: 7337.485823788237 trace no: 586.998865903059
----
i is: 9
Target is: 11
TWT is: 3.5263312485194964
9 0 2 1480.0
alpha = 19.712101790655655
9 1 3 1928.7
alpha = 26.07539441347804
9 2 4 2089.9
alpha = 28.443452092090467
9 3 5 2111.5
alpha = 28.764710691230988
9 4 6 2451.9
alpha = 33.9722628262451
9 5 7 2606.4
alpha = 36.44153857333786
9 6 8 2990.7
alpha = 42.967608037892646
9 7 9 2910.7
alpha = 41.55607043626967
9 8 10 3429.3
alpha = 51.402008925395094
x = [53.74352244789475, 162.51730023936193, 264.3390999759855, 276.3977654948836, 335.8241091940557, 364.1706137640406, 469.0825913350072, 437.20768933552654, 624.3797955270242, 934.6146157641662]
x_sum is: 7844.554206155893 trace no: 627.5643364924714
----
i is: 10
Target is: 12
TWT is: 3.75888938805438
10 0 2 1480.0
alpha = 17.341951354409392
10 1 3 1928.7
alpha = 22.85762831539925
10 2 4 2089.9
alpha = 24.891957322788304
10 3 5 2111.5
alpha = 25.1670427631581
10 4 6 2451.9
alpha = 29.591689256350346
10 5 7 2606.4
alpha = 31.663681489503126
10 6 8 2990.7
alpha = 37.03700749740599
10 7 9 2910.7
alpha = 35.88912791933831
10 8 10 3429.3
alpha = 43.68279856858949
10 9 11 3800.0
alpha = 49.93589413304415
x = [46.84030780890772, 139.99520313710562, 226.4388026441188, 236.57546124907876, 283.0349911397655, 304.17481821301493, 380.0000508958766, 356.87465292159476, 475.99519262959586, 641.6109755674916, 866.0254037844388]
x_sum is: 7915.131719981979 trace no: 633.2105375985583
----

In [11]:
test.drop(['Mute angle - rad', 'Mute angle - deg','Constant'], axis=1)

,Intf,Depth,Vp,Thickness,dOWT,OWT,TWT,41.42% /45.0 deg mute offset,41.42% /45.0 deg mute chan no,50% /48.0 deg mute offset,50% /48.0 deg mute chan no,100% /60.0 deg mute offset,100% /60.0 deg mute chan no
0,1,0.0,330.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,150.0,1480.0,150.0,0.101351,0.101351,0.202703,299.994246,23.999540,335.410197,26.832816,519.615242,41.569219
2,3,482.1,1928.7,332.1,0.172189,0.273540,0.547080,857.973789,68.637903,951.776531,76.142122,1417.228625,113.378290
3,4,970.1,2089.9,488.0,0.233504,0.507044,1.014088,1721.536218,137.722897,1907.090476,152.567238,2806.646482,224.531719
4,5,1473.6,2111.5,503.5,0.238456,0.745500,1.491000,2696.415059,215.713205,2993.619869,239.489589,4456.529518,356.522361
5,6,1972.0,2451.9,498.4,0.203271,0.948771,1.897542,3093.136246,247.450900,3392.170251,271.373620,4723.821608,377.905729
6,7,2465.2,2606.4,493.2,0.189227,1.137997,2.275995,3789.269592,303.141567,4152.793884,332.223511,5766.100638,461.288051
7,8,2968.8,2990.7,503.6,0.168389,1.306386,2.612772,4075.477068,326.038165,4440.182891,355.214631,5993.929971,479.514398
8,9,3462.0,2910.7,493.2,0.169444,1.475830,2.951660,5242.180469,419.374438,5756.317967,460.505437,8148.000664,651.840053
9,10,3960.4,3429.3,498.4,0.145336,1.621166,3.242331,5075.688727,406.055098,5514.078773,441.126302,7337.485824,586.998866
10,11,4500.0,3800.0,539.6,0.142000,1.763166,3.526331,5457.197827,436.575826,5921.017165,473.681373,7844.554206,627.564336
11,12,5000.0,4300.0,500.0,0.116279,1.879445,3.758889,5585.580491,446.846439,6044.815214,483.585217,7915.131720,633.210538